* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body{
    margin:0px;
    padding:0px;
   
}


#navbar {
     background-color: #232f3e;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    padding:30px;
    
}


.left img {
    height:100px;
    width:100px;

}


.center {
    flex: 1;
    text-align: center;
}

#label {
    color: white;
    font-size: 40px;
}


.right {
    display: flex;
}

.lablelink {
    color: #f08804;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
    white-space: nowrap;
}

#containt {
    padding-top: 100px;
    background-color: aliceblue;
    height: 500px;
    width: 100%;
    display: flex;
    text-align: center;
    box-shadow: 10px 10px 5px 12px lightblue;
}

#head_image {

    margin: 25px;
    height: 350px;
    width: 500px;
    border-radius: 30px;

}

#infotitle {
    font-size: 60px;
   
    color: #232f3e;


}


#head-text {
    font-size: 18px;
    color: #333;
    line-height: 1.6;

}

#containt2_main {
    display: flex;
    height:auto;
    background-color: white;
    width: 100%;
    margin:0px;
     box-shadow: 10px 10px 5px 12px grey;
    
    
}
.heading{
    color: #232f3e;
    margin:25px;
    text-align: center;
    background-color: #f08804;
    height:auto;
    width:auto;
    border-radius:5px;
    

}
#firstpart{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction:column;
    height:auto;
    width:40%;
    font-size:18px;
    background-color: antiquewhite;
   
    
    
}

#designline{
   
    
    height:250px;
    width:15px;
    background-color: #f08804;
    margin-bottom:0px;
    margin:30px;
    
}
 #first1, #first2{
    display: flex;
    align-items: stretch;
    gap: 15px;
 }
.about_india{
    background-color: #232f3e;
    color: aliceblue;
    display:inline-block;
    border-radius:25px;
    padding:5px;
    height:300px;
    width:300px;
    transition: all 0.4s ease;

}
.about_india:hover{
  
  transform: scale(1.05);
  box-shadow: 8px 20px rgba(0, 0, 0, 0.3);

}

#secondpart{
    text-align: center;
    height:auto;
    width:60%;
    background-color: #E5EAE2;
    
}
#Destination{
    
    height:700px;
    border-radius:20px;
    text-align:center;
    font-size:20px;
   
    

}

.destimg{
    height:220px;
    width:200px;
    background-color: aliceblue;
    margin:20px;
    border-radius:20px;
    display: inline-block;
    box-shadow: 5px 5px 5px 5px grey;
    transition: all 0.4s ease;

}
.destimg:hover {
  background-color: #f0b25c;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}


.dimage{
    border-radius:20px;
   
    margin-left:5px;
    margin-top:14px;
    height:150px;
    width:160px;
    

}
footer{
text-align: center;
font-size:16px;


background-color:#232f3e;
color:aliceblue;
width:100%;
}

/*Agra*/

#navbar_agra{
    text-align: center;
    background-color: #232f3e;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    padding: 30px;
}
#hotel-table-section {
    padding: 20px;
    background-color:azure;
}

#hotel-table {
    width: 90%;
    margin: auto;
    border: 1px solid #ccc;
    border-collapse: collapse;
    font-size:20px;
}

#hotel-table th,
#hotel-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

#hotel-table th {
    background-color: #232f3e;
    color: white;
}

.hotel-img {
    height:200px;
    width: 250px;
    border-radius: 10px;
}

#places-section {
    display: flex;
    width:auto;
    padding: 20px;

}


.place {
    width: 70%;
    margin: 20px; 
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    font-family:cursive;
    transition: all 0.4s ease;

    
}
.place:hover{
    transform: scale(1.05);
  box-shadow: 8px 20px rgba(0, 0, 0, 0.3);
 

}


.place1 {
    background-color: #E5EAE2;
}

.place2 {
    background-color: antiquewhite;
}

.place3 {
    background-color: #f5d6c6;
}

.place-img {
    box-shadow: 5px 5px 5px 5px rgb(238, 205, 169);
    height: 180px;
    width: 280px;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 10px;
}
